---
- name: Server Hardening Playbook
  hosts: webservers
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install required packages
      apt:
        name:
          - ufw
          - fail2ban
          - net-tools
          - htop
          - libpam-pwquality
        state: present

    - name: Deploy hardened sshd_config
      copy:
        src: ../configs/sshd_config
        dest: /etc/ssh/sshd_config
        owner: root
        group: root
        mode: '0644'
        backup: yes
      notify: Restart SSH

    - name: Configure UFW defaults (deny incoming)
      ufw:
        direction: incoming
        policy: deny

    - name: Configure UFW defaults (allow outgoing)
      ufw:
        direction: outgoing
        policy: allow

    - name: Allow SSH on custom port
      ufw:
        rule: allow
        port: '2222'
        proto: tcp
        comment: 'SSH Custom Port'

    - name: Allow HTTP/HTTPS
      ufw:
        rule: allow
        port: '{{ item }}'
        proto: tcp
      loop:
        - '80'
        - '443'

    - name: Enable UFW
      ufw:
        state: enabled

    - name: Configure Fail2Ban SSH jail
      copy:
        dest: /etc/fail2ban/jail.d/sshd.conf
        content: |
          [sshd]
          enabled = true
          port    = 2222
          logpath = %(sshd_log)s
          backend = %(sshd_backend)s
          maxretry = 3
          bantime  = 10m
          findtime = 10m
          ignoreip = 127.0.0.1/8 ::1
        owner: root
        group: root
        mode: '0644'
      notify: Restart Fail2Ban

    - name: Ensure Fail2Ban is running
      service:
        name: fail2ban
        state: started
        enabled: yes

  handlers:
    - name: Restart SSH
      service:
        name: sshd
        state: restarted

    - name: Restart Fail2Ban
      service:
        name: fail2ban
        state: restarted
